@import url('https://fonts.googleapis.com/css?family=Roboto:100,300,400,500,700');

body {
	position: absolute;
	background-color: #ffffff;
	font-family: "Roboto";
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

::selection { 
	background: #ffff00; 
} 

.container {
	position: absolute;
	height: 100%;
	width: 100%;
}

.content {
	padding-top: 100px;
	padding-left: 80px;
	padding-right: 80px;
	margin: auto;
}

p {
	font-family: "Roboto";
	font-size: 2.7em;
	font-weight: 300;
	line-height: 1.5;
	text-rendering: optimizeLegibility;
}

.header {
	padding-top: 100px;
}

.name {
	float: left;
	padding-left: 80px;
}

.name a {
	font-style: normal;
}

.contact {
	float: right;
	padding-right: 80px;
}

.contact a {
	font-style: normal;
}

a {
	text-decoration: none;
	font-style: italic;
	color: #000;
}

a:hover {
	color: #FF6B6B;
	text-decoration-color: #FF6B6B;
}


@media only screen and (max-width: 1196px) {
 	p {
 		font-size: 2.2em;
 	}
}

@media only screen and (max-width: 1002px) {
	p {
 		font-size: 1.8em;
	}
}