@import url('https://fonts.googleapis.com/css?family=Vidaloka');
@import url('https://fonts.googleapis.com/css?family=Raleway:200,200i,300,300i,400,400i');

body {
	position: absolute;
	background-color: #ffffff;
	color: #3F3F3F;
	top: 0;
	bottom: 0;
	right: 0;
	left: 0;
}

::selection { 
	background: #ffff00; 
} 

#canvas {
	float: left;
	cursor: url(imgs/brown_manz.png), auto;
}

.content {
	position: absolute;
	display: table;
	height: 100%;
	width: 65%;
	right: 2%;
}

.name_info {
	position: relative;
	display: table-cell;
	vertical-align: middle;
}

#name {
	font-family: "Vidaloka";
	font-size: 26px;
}

#subject {
	position: relative;
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 200;
	top: -0.8em;
}

#info {
	font-family: "Raleway";
	font-size: 20px;
	font-weight: 200;
	line-height: 40px;
}

a {
	text-decoration: underline;
	color: #3F3F3F;
	font-style: italic;
}

a:hover {
	color: #FF6B6B;
	text-decoration-color: #FF6B6B;
}

@media only screen and (max-height: 596px) {

	.content {
		position: relative;
		width: 90%;
		right: initial;
		margin: auto;
	}
}

@media only screen and (max-width: 1160px) {

	.content {
		position: relative;
		width: 90%;
		right: initial;
		margin: auto;
	}
}